* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  	padding: 0;
  	margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
  background: #030005;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 500px;
  margin-bottom: 0px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50% , -50%);
      -ms-transform: translate(-50% , -50%);
          transform: translate(-50% , -50%);
  font-size: 15vw;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: -25px;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #c07cff, 1px 1px 0px #00c7ff;
  letter-spacing: -20px;
}


.notfound .notfound-404 h2 {
  font-family: 'Megrim', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 42px;
  font-weight: 700;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #00c7ff, 1px 1px 0px #c07cff;
  margin: 0;
  letter-spacing: 13px;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #00c7ff;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #c07cff;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 h2 {
        font-size: 9vw;
		letter-spacing: 0px;
    }
  .notfound .notfound-404 h1 {
      font-size: 20vw;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
      font-size: 23vw;
  }
}
