/*
 * Globals
 */

@font-face {
				font-family: 'Potra';
				src: url("../fonts/Potra.ttf");
				format("TTF");
				font-style: normal;
				font-weight: normal
				}

/* Links */
a:focus,
a:hover {
  color: #fffff;
}
a {
	color: #00ffff
}
p {
	color: #00aaff
}

/* Custom default button */
.btn-secondary,
.btn-secondary:focus {
		color: rgba(25, 255, 255, 0.7);
		border-color: rgba(255, 255, 255, 0.2);
		border-style: solid;
		border-width: 1px;
		border-radius: 50px;
		transition: color 0.2s;
		background-color: #000000;
		border-color 0.2s;
		text-alignment: center;
		alignment: center;
		padding-top: 10px;
}
.btn-secondary:hover {
						color: rgba(255, 255, 255, 0.8);
						text-decoration: none;
						background-color: rgba(0, 0, 255, 0.5);
						border-color: rgba(255, 255, 255, 0.3);
}

.lgbtq img{
		height: 70px;
}
@media screen and (max-width: 54em) {
.badge-alt p a img{
            width:  50%;
            height: 35px;

}
p a img{
                 height: 35px;
                 width: 70%;
}
}
/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-image: url("../images/573976.jpg");
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


h2 {
	font-family: 'Open Sans';
	font-size: 25px;
	font-weight: normal;
	margin: 0px;
	text-align: center
	}


h1 {
	font-family: 'Potra';
	font-size: 52px;
	font-weight: normal;
	margin: 0px;
	color: #00bfff;
	letter-spacing: 10px;
	}


/*
 * Header
 */
.masthead {
    position: absolute;
    left: 25%
    margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-link a{
			background-color: #000000;
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 0rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
	float: right;
  }
  .nav-masthead {
	float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
  background-color: #000000;
  border-radius: 25px;
}